<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div id="app">
        <div class="container">
            <button id="backward" @click="moveBackward()">
                <span>&#11207;</span>
            </button>
            <div class="slider-wrapper" tabindex="0">
                <template v-for="(slide, index) in slides" :key="slide.id">
                    <div class="item" v-if="index === activeIndex">
                        <img :src="slide.image" />
                        <div class="text">
                            <h3>{{ slide.title }}</h3>
                            <p>
                                {{ slide.text }}
                            </p>
                        </div>
                    </div>
                </template>
            </div>
            <button id="forward" @click="moveForward()">
                <span>&#11208;</span>
            </button>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>